<h1 id="edit" class="text-uppercase font-weight-bold text-center roboto-condensed-title ">Edit your manga</h1>

<%= turbo_frame_tag @manga do %>
    
    <% if @manga.errors.any? %>
        <div class="error_container">
            <% @manga.errors.full_messages.each do |msg| %>
                <li style="color:red">
                    <%= msg %>
                </li>
            <% end %>
        </div>
    <% end %>

    <%= render 'form' %>
<% end %>

  
    