<div class="roboto-condensed-title my_nav">
    <h1>MY MANGA LIST 💥</h1>
    <div>
        <%= link_to 'Add a new manga', new_manga_path, class: "btn btn-dark btn-lg" %>
    </div>
</div>

<%= render 'test' %>

