<h1 id="new" class="text-uppercase font-weight-bold text-center roboto-condensed-title">Add a new manga</h1>

<% if @manga.errors.any? %>
    <% @manga.errors.full_messages.each do |msg| %>
        <li style="color:red">
            <%= msg %>
        </li>
    <% end %>
<% end %>

<%= render 'form' %>


